<%- include("partials/header.ejs") %>

    <div class="content container" data-offset-top="200">
        <% for (let i=0; i < result.data.response.length; i++) { %>
        <h2><%= result.data.response[i].title %></h2>
        <h3><%= result.data.response[i].competition %></h3>
        <p><%= result.data.response[i].date %></p>
       <div class="video"><%- result.data.response[i].videos[0].embed%></div>
    </div>
    <% } %>

<%- include("partials/footer.ejs") %>

</body>
</html>